* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(76, 202, 51, 0.993); }

nav {
  align-self: center; }

.nombre {
  display: grid;
  align-self: center;
  padding: 10px;
  margin: 5px 10px 5px 10px; }

.nombre a {
  text-decoration: none;
  color: black;
  font-size: 55px;
  font-style: italic;
  font-family: 'Lobster', serif; }

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  gap: 25px; }

.nav__link {
  display: flex;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.678);
  border-radius: 9px;
  margin-top: 15px;
  padding: 10px;
  text-decoration: none;
  color: #f0e6e6;
  font-family: 'Suez One', serif;
  font-size: 20px; }

.nav__link:hover {
  background-color: rgba(119, 226, 167, 0.219); }

.cart a img {
  height: 20vh;
  margin: 5px;
  padding: 2px 2px; }

@keyframes slide-in-bottom {
  0% {
    transform: translateY(100px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes zoom {
  100% {
    transform: scale(1.05); } }

.nav-bar {
  display: none; }

  .navbar-toggler {
  display: none; }

main {
  background-color: #f8f0f0;
  animation-name: slide-in-bottom;
  animation-duration: 1s;
  align-items: center; }

h1 {
  text-align: center; }

.title {
  margin: auto;
  padding: 5vh; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-block;
  background-color: #f8e1c2;
  border: 3px solid #091f09;
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
  margin: 5px;
  margin-bottom: 2%;
  padding: 15px;
  width: 310px; }
  .card:hover {
    animation: zoom .5s forwards; }
  .card a {
    text-decoration: none;
    border: 2px solid #dd7342;
    background-color: #e66a45;
    color: white;
    margin: 5px 10px 2px; }
  .card img {
    width: 245px;
    height: 245px; }

.info-product {
  border: 2px solid #f5b9d7;
  margin: 5px;
  padding: 8px; }
  .info-product p {
    margin: 5px; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2%;
  padding: 5%; }

.detalle-producto {
  width: 37%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  border: solid #e4dbdb 2px;
  border-radius: 5px;
  padding: 1%; }

.nombre-producto {
  color: red; }

.imagen-detail {
  width: 50vh;
  height: 50vh;
  margin-top: 15%;
  padding: 5%;
  display: flex;
  align-items: center; }

.seccion {
  margin: 10%; }
  .seccion h2 {
    margin-top: 20%; }
    .seccion h2 b {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 10%; }

.button {
  display: flex;
  align-items: center;
  margin-top: 10%; }

@keyframes shake-bottom {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%; }
  10% {
    transform: rotate(2deg); }
  20%, 40%, 60% {
    transform: rotate(-4deg); }
  30%, 50%, 70% {
    transform: rotate(4deg); }
  80% {
    transform: rotate(-2deg); }
  90% {
    transform: rotate(2deg); } }

.carro-text {
  text-align: center;
  margin: 10px;
  margin-bottom: 300px;
  animation: shake-bottom 1s infinite;
  animation-delay: 3s;
  animation-iteration-count: 3; }
  .carro-text a {
    text-decoration: none;
    color: red; }

.nos1 {
  font-family: 'Noto Sans TC', sans-serif;
  margin: auto;
  padding: 20px; }

.nos2 {
  font-family: 'Noto Sans TC', sans-serif;
  margin: auto;
  padding: 20px; }

.videos div {
  display: flex;
  justify-content: center;
  margin: 10px; }

.vid1 iframe {
  width: 600px; }

.vid2 video {
  width: 600px; }

.footer {
  display: grid;
  width: 100%;
  height: 30vh;
  grid-column: repeat(6, 1fr);
  grid-row: repeat(1, 1fr);
  grid-template-areas: "name box box-1 box-2 box-3 box-4";
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.712); }
  .footer h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;
    padding: 10px;
    text-align: center; }
  .footer div ul li {
    list-style: none; }

.footer-nombre {
  display: grid;
  align-self: center;
  background-color: #d3e0ec;
  padding: 10px;
  border: solid #204d02;
  border-radius: 45%;
  margin: 5px; }
  .footer-nombre a {
    text-decoration: none;
    color: #090c09;
    font-size: 30px;
    font-style: italic;
    font-family: 'Lobster', serif;
    text-align: center; }

.box {
  grid-area: box; }

.box-1 {
  grid-area: box-1; }

.box-2 {
  grid-area: box-2; }

.box-3 {
  grid-area: box-3; }

.box-4 {
  grid-area: box-4;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin-right: 10px; }

.row__redes {
  margin-top: 10px;
  text-align: center; }

.row1__redes {
  margin-top: 4px;
  text-align: center; }

.row2__redes {
  margin-top: 4px;
  text-align: center; }

.row3__redes {
  text-align: center;
  margin-top: 4px; }

.row4__link img {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 2px solid white; }

@media (max-width: 768px) {
  @keyframes slide-in-bottom {
    0% {
      transform: translateY(100px);
      opacity: 0; }
    100% {
      transform: translateY(0);
      opacity: 1; } }
  @keyframes zoom {
    100% {
      transform: scale(1.05); } }
  @keyframes shake-bottom {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 50% 100%; }
    10% {
      transform: rotate(2deg); }
    20%,
    40%,
    60% {
      transform: rotate(-4deg); }
    30%,
    50%,
    70% {
      transform: rotate(4deg); }
    80% {
      transform: rotate(-2deg); }
    90% {
      transform: rotate(2deg); } }
  header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(76, 202, 51, 0.993); }
  .nav-bar {
    display: block; }
  .navbar {
    display: none; }
  nav {
    align-self: center; }
  .nombre {
    display: grid;
    align-self: center;
    padding: 5px;
    margin: 3px 8px 3px 8px; }
    .nombre a {
      text-decoration: none;
      color: black;
      font-size: 35px;
      font-style: italic;
      font-family: 'Lobster', serif; }
  .nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    gap: 8px; }
  .nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.678);
    border-radius: 7px;
    margin-top: 20px;
    padding: 5px;
    text-decoration: none;
    color: #f0e6e6;
    font-family: 'Suez One', serif;
    font-size: 10px; }
    .nav__link:hover {
      background-color: rgba(119, 226, 167, 0.219); }
  .cart a img {
    height: 8vh;
    margin: 5px;
    padding: 2px 2px; }
  main {
    background-color: #f8f0f0;
    animation-name: slide-in-bottom;
    animation-duration: 1s;
    align-items: center; }
  h1 {
    text-align: center;
    font-size: 25px; }
  .title {
    margin: auto;
    padding: 5vh; }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-block;
    background-color: #f8e1c2;
    border: 3px solid #091f09;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    margin: 5px;
    margin-bottom: 2%;
    padding: 15px;
    width: 285px; }
    .card:hover {
      animation: zoom .5s forwards; }
    .card a {
      text-decoration: none;
      border: 2px solid #dd7342;
      background-color: #e66a45;
      color: white;
      margin: 5px 10px 2px; }
    .card img {
      width: 245px;
      height: 245px; }
  .info-product {
    border: 2px solid #f5b9d7;
    margin: 5px;
    padding: 8px; }
    .info-product p {
      margin: 5px; }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2%;
    padding: 5%; }
  .detalle-producto {
    width: 37%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    border: solid #e4dbdb 2px;
    border-radius: 5px;
    padding: 4%; }
  .nombre-producto {
    color: red; }
  .imagen-detail {
    width: 45vh;
    height: 45vh;
    margin-top: 15%;
    padding: 5%;
    display: flex;
    align-items: center; }
  .seccion {
    margin: 10%; }
    .seccion h2 {
      margin-top: 20%; }
      .seccion h2 b {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 10%; }
  .button {
    display: flex;
    align-items: center;
    margin-top: 5%; }
  .carro-text {
    text-align: center;
    margin: 10px;
    margin-bottom: 380px;
    animation: shake-bottom 1s infinite;
    animation-delay: 3s;
    animation-iteration-count: 3; }
    .carro-text a {
      text-decoration: none;
      color: red; }
  .nos1 {
    font-family: 'Noto Sans TC', sans-serif;
    margin: auto;
    padding: 20px;
    font-size: 15px;
    text-align: justify; }
  .nos2 {
    font-family: 'Noto Sans TC', sans-serif;
    margin: auto;
    padding: 20px;
    font-size: 15px;
    text-align: justify; }
  .videos div {
    display: flex;
    justify-content: center;
    margin: 10px; }
  .vid1 iframe {
    width: 550px; }
  .vid2 video {
    width: 550px; }
  .footer {
    display: grid;
    width: 100%;
    height: 30vh;
    grid-column: repeat(6, 1fr);
    grid-row: repeat(1, 1fr);
    grid-template-areas: "name box box-1 box-2 box-3 box-4";
    gap: 3px;
    background-color: rgba(0, 0, 0, 0.712); }
    .footer h4 {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-top: 40px;
      padding: 8px;
      text-align: center; }
    .footer div ul li {
      list-style: none; }
  .footer-nombre {
    display: grid;
    align-self: center;
    background-color: #d3e0ec;
    padding: 10px;
    border: solid #204d02;
    border-radius: 45%;
    margin: 2px; }
    .footer-nombre a {
      text-decoration: none;
      color: #090c09;
      font-size: 25px;
      font-style: italic;
      font-family: 'Lobster', serif;
      text-align: center; }
  .box {
    grid-area: box; }
  .box-1 {
    grid-area: box-1; }
  .box-2 {
    grid-area: box-2; }
  .box-3 {
    grid-area: box-3; }
  .box-4 {
    grid-area: box-4;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-right: 10px; }
  .row__redes {
    margin-top: 10px;
    text-align: center; }
  .row1__redes {
    margin-top: 4px;
    text-align: center; }
  .row2__redes {
    margin-top: 4px;
    text-align: center; }
  .row3__redes {
    text-align: center;
    margin-top: 4px; }
  .row4__link img {
    width: 38px;
    height: 38px;
    background-color: white;
    border: 2px solid white;
    margin-left: 5px; } }

@media (max-width: 576px) {
  /* HEADER */
  /* INDEX */
  /* FOOTER   */
  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "nombre cart nav";
    background-color: #ddb47f; }
  .nombre {
    grid-area: nombre; }
    .nombre a {
      text-decoration: none;
      color: #9e4949;
      font-size: 40px;
      font-style: italic;
      font-family: 'Lobster', serif; }
  .cart {
    grid-area: cart;
    align-self: center; }
    .cart a img {
      height: 50px;
      width: 50px; }
  button {
    display: block; }
  .nav-bar {
    display: none; }
  .navbar {
    display: block; }
  .nav {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .nav-item {
    list-style: none; }
  .nav__link {
    font-size: 12px;
    padding: 5px;
    color: #0f0707;
    border: 0px; }
  a:hover {
    border: 1px solid white;
    transition: .5s; }
  .main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .card {
    grid-area: card;
    width: 300px;
    height: 400px;
    justify-content: space-between;
    background-color: #f8e1c2;
    border: 3px solid #091f09;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 15px;
    margin-right: 20px; }
    .card a {
      text-decoration: none;
      border: 2px solid #dd7342;
      background-color: #e66a45;
      color: white;
      margin: 5px 10px 2px; }
    .card img {
      width: 140px;
      height: 200px; }
  .info-product {
    border: 2px solid #f5b9d7;
    margin: 5px;
    padding: 10px; }
    .info-product p {
      margin: 8px; }
  .footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "nombre-footer box-1 box-3" "box-4 box box-2";
    height: 55vh; }
  .box-4 {
    justify-content: center; } }
